/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

/* Set a background color and font for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #1d1f1c;
    color: #1d1f1c;
    line-height: 1.6;
    padding: 20px;
}

/* Style the header */
header {
    background: #1d1f1c;
    color: #f5f5f5;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.0em;
}

/* Style the navigation bar */
nav {
    background: #4a6a75;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav a {
    color: #f5f5f5;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    margin: 0 5px;
    text-align: center;
}

nav a:hover {
    background: #e3a72f;
    text-decoration: underline;
    text-decoration-color: #f5f5f5;
}

nav a.active {
    color: #e3a72f;
    font-weight: bold;
    border-bottom: 2px solid #4a6a75;
}

/* Style the main content area */
main {
    background: #1d1f1c;
    color: #f5f5f5;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* All text elements are in the main */
main p, h2, main li, main ul {
    color: #f5f5f5;
}

/* Style the footer */
footer {
    background: #1d1f1c;
    color: #f5f5f5;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.logo {
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

footer p {
    margin: 0;
}

.profile-photo {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(227, 167, 47, 0.8);
}

.profile-photo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(227, 167, 47, 0.8);
    z-index: -1;
}

button.download-resume {
    background: linear-gradient(to right, #4a6a75, #4a6a75);
    color: #f5f5f5;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.5s ease;
}

button.download-resume:hover {
    background: linear-gradient(to right, #4a6a75, #e3a72f);
}

